# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.out

# Go workspace file
go.work

# Dependency directories
vendor/

# Build output
gostl
gostl-gui
/bin/
/dist/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Binary executables (in root and cmd directories)
/gostl-raylib
cmd/*/gostl-raylib

out/
