name: goreleaser

on:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    permissions:
      contents: write
      packages: write
      pull-requests: write
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
        id: go
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}